<div id="catback"></div>

<h1 class="hipfont" style="color:white">Moishe House London<br>∆ presents ∆</h1>
<h2 id="fithead" class="superfont" style="color:white">Hipsters and Hassids</h2>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<form>
  <input type="text" id="fullname" placeholder="Your full name"/> <br>
  <select id="quantity">
      <option>1</option>
      <option>2</option>
      <option selected="selected">3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
  </select> <br>

  <button id="buyButton" class="pure-button pure-button-primary button-large">Buy Tickets</button>
</form>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= settings.publishable_key %>',
    image: '/img/mlogo.png',
    token: function(token) {
     $.ajax({
          url: '/pay',
          type: 'POST',
          data: {
              stripeToken: token.id,
              stripeEmail: token.email,
              quantity: Number(document.getElementById("quantity").value),
              fullname: document.getElementById("fullname").value
          },
          success: function(response){
            window.location.href = '/seeyousoon' ;
          }
      });
    }
  });

  $('#buyButton').on('click', function(e) {
    var quantity = Number(document.getElementById("quantity").value);
    handler.open({
      name: '<%= settings.ticket_name %>',
      description: quantity + 'x Ticket',
      currency: "gbp",
      zipCode: true,
      allowRememberMe: false,
      amount: quantity * <%= settings.ticket_price %>
    });
    e.preventDefault();
  });

  $(window).on('popstate', function() {
    handler.close();
  });

  window.fitText(document.getElementById("fithead"));
</script>
