<div class="paperinvite">

	<h1 class="artdeco">Congratulations Guys and Dolls</h1> 

	<p>You have secured your place at the most exclusive speakeasy in town.</p>

	<img src="/img/pigsmallblack.png"/>

	<p>We're a sophisticated establishment so we kindly ask you come in appropriate (1920-30s) attire.</p>

	<p>And remember when you enter the library, ask the attendant to take out:</p>
	<p><strong>'The Three Little Pigs'.</strong></p>
	<p>No password, no party.</p>

	<p>Be prepared to be blown away.</p>

	<p>
		<div class="fb-share-button" data-href="https://www.facebook.com/events/875288432516850/" data-layout="button"></div>
	</p>

</div>