<div class="paperinvite">

	<h1>Thank you</h1> 

	<p>You will receive a confirmation email with the venue address shortly. Please contact the organisers if you require strictly kosher food.</p>

</div>