<div class="paperinvite">

	<h1>Thank you</h1>

	<p>You will receive a confirmation email shortly.</p>

	<p>By the way, you might enjoy coming to our <a href="https://www.facebook.com/events/1175401195828549/">Underground Party</a>.</p>

</div>