<!--<div class="paperinvite">

	<h1 class="hipfont">Thank you</h1>

	<p>You will receive a confirmation email shortly.</p>
<br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/9ACkfbi8vyo" frameborder="0" allowfullscreen></iframe>


</div>-->

<img src="/img/mohostationthanks.png" style="width:100%"/>
<p>You will receive a confirmation email shortly.</p>