<div class="paperinvite">

	<h1 class="hipfont">Thank you</h1>

	<p>You will receive a confirmation email shortly.</p>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/9ACkfbi8vyo" frameborder="0" allowfullscreen></iframe>


</div>
