html {
  background: url(/img/galaxy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
    display: inline-block;
    text-align: center;
}

label {
	color: white;
}

.paperinvite {
	display: inline-block;
	width: 70%;
	background: url(/img/gray_jean.png);
	padding: 5%;
	border: double;
	text-align: center;
}

@font-face {
    font-family: hipfont;
    src: url(Besom.ttf);
}

.hipfont {
	font-family: hipfont;
}

@font-face {
    font-family: super;
    src: url(super.ttf);
}

.superfont {
	font-family: super;
}

#catback {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(/img/cat.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}


form *, optgroup {
  font-size: 25px;
}

/*p {
	font-family: monospace;
}*/
